.input-data {
  margin: 50px auto;
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .input-data h3 {
    padding: 0;
    margin: 0 0 15px; }
  .input-data table {
    border-collapse: collapse; }
    .input-data table td,
    .input-data table th {
      border: 1px solid black;
      text-align: center;
      padding: 5px 10px; }
    .input-data table th {
      font-size: 0.9em; }
  .input-data .margin-top {
    margin-top: 25px; }

.output-data {
  margin: 50px auto;
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .output-data h3 {
    padding: 0;
    margin: 0 0 15px; }
  .output-data table {
    border-collapse: collapse; }
    .output-data table td,
    .output-data table th {
      border: 1px solid black;
      text-align: center;
      padding: 5px 10px; }
    .output-data table th {
      font-size: 0.9em; }
  .output-data .margin-top {
    margin-top: 25px; }
